# This file describes the expected reviewers for a PR based on the changed
# files. Unlike what the name of the file suggests they don't own the code, but
# merely have a good understanding of that area of the codebase and therefore
# are usually suited as a reviewer.


# Please mind the alphabetic order of reviewers.

# Files related to frontend development.

# Javascript and CSS code.
web_src/.* @beowulf @gusted
web_src/css/.* @0ko

# HTML templates used by the backend.
templates/.* @beowulf @gusted
## the issue sidebar was touched by fnetx
templates/repo/issue/view_content/sidebar.* @fnetx

# Playwright tests
tests/e2e/.* @fnetx

# Files related to Go development.

# The modules usually don't require much knowledge about Forgejo and could
# be reviewed by Go developers.
modules/.* @gusted

# Models has code related to SQL queries, general database knowledge and XORM.
models/.* @gusted

# The routers directory contains the most amount code that requires a good grasp
# of how Forgejo comes together. It's tedious to write good integration testing
# for code that lives in here.
routers/.* @gusted

# Let locale changes be checked by the translation team.
options/locale/.* @0ko
options/locale_next/.* @0ko

# lint-locale-usage
build/lint-locale-usage/.* @fogti
models/unit/.* @fogti
services/migrations/lint-locale-usage/.* @fogti

# Personal interest
.*/webhook.* @oliverpool

# Often work with, and on, the API
modules/structs/.* @Cyborus
routers/api/v1/.* @Cyborus
routers/api/forgejo/.* @Cyborus
tests/integration/api_.* @Cyborus

# Federation code, requires care to be taken with regards to interoperability
# and backwards compatibility due to the way signatures work.
services/federation/.* @famfo @0xllx0
modules/forgefed/.* @famfo @0xllx0
models/forgefed/.* @famfo @0xllx0
routers/api/v1/activitypub/.* @famfo @0xllx0
tests/integration/api_activitypub_.* @famfo @0xllx0
tests/integration/activitypub_.* @famfo @0xllx0
